 .card-group{
    grid: 25% 25% 25% 25%;
    display: flex;
    gap: 10px;
    
}
.card-body #code{
    text-align: center;
}
#price{
    color: red;
    text-align: center;
}
.card{
    width: 210px;
    height: 260px;
} 
 #phone_img img {
    width: 210px;
    height: 260px;
}
.star {
    color:#F79F1F;
}
.title{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:#ffff;
    font-size: 34px;
    background-color:aqua;
    border-radius: 50px;
}
#price{
    color: red;
}
#button{
    padding-left: 190px;
   
}


